
<mat-toolbar color="primary" class="navbar navbar-default py-2" >
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand"  routerLinkActive="active" routerLink="/"> Distaster </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="d-flex align-items-center">
        <ul class="nav navbar-right d-flex align-items-center">



          <li routerLinkActive="active"><a routerLink="/donors">Donors</a></li>
          <li routerLinkActive="active"><a routerLink="/AffectedIndividual">Affected Individual</a></li>
          <li routerLinkActive="active"><a routerLink="/aids">Aids</a></li>
          <li routerLinkActive="active"><a routerLink="/individualRequest">Individual Request</a></li>

        </ul>

      </div><!-- /.navbar-collapse -->
    </div>
  </mat-toolbar>
