<h1 mat-dialog-title>Add donor</h1>
<mat-dialog-content>
  <form [formGroup]="donorForm">

    <mat-form-field appearance="outline">
      <mat-label>Enter Donor Name</mat-label>
      <input formControlName="name" matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <span matPrefix>@ &nbsp;</span>
      <input type="tel" matInput placeholder="ex@gmai.com" formControlName="email">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234" formControlName="phone">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

  <mat-label>Enter Donor Address </mat-label>
  <mat-form-field class="example-full-width">
    <mat-label>Address</mat-label>
    <textarea formControlName="address" matInput placeholder="Ex. 100 Main St"></textarea>
  </mat-form-field>
  </form>




</mat-dialog-content>
<div>
  <mat-dialog-actions >
    <button mat-raised-button color="accent" matDialogClose>close </button>
    <button mat-raised-button color="primary" (click)="addDonor()" >save</button>
 </mat-dialog-actions>
</div>
